.card {
  background: #fefefe;
  box-shadow: 0px 4px 15px #f1f1f8;
  border-radius: 8px;
  border-color: rgb(184, 176, 176);
  text-decoration: none !important;

  .dashboard-card-title {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

    color: #c5c5c5;
  }
  .dashboard-card-subtitle {
    font-style: normal;
    font-weight: 450;
    font-size: 24px;

    color: #0c0d36;
  }
}
